body {

display: grid;
align-items: center
}

#container {
display: flex;

align-items: baseline;
justify-content: space-evenly;


}

section {
display: flex;
flex-direction: column;
justify-content: center;
border-right: 2px solid grey;
margin: 0px 5px 0px 5px;
}

section a, a:visited, a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: black;
}
.thumbanil {


}

.caption {
margin-top: 0px;
margin-right: 5px;
margin-left: 10px;
font-size: 11px;
}

.title {
margin-right: 5px;
margin-left: 10px;
font-size: 15px;
font-weight: 600;
}

.abstract {
margin-right: 5px;
margin-left: 10px;
font-size: 12px;
}



